<header class="fixed-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="../index.html">
        <img
          src="../assets/img/logo-teleprag.png"
          alt="Teleprag Logo"
          height="40"
        />
      </a>

      <!-- Botão Menu Mobile -->
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarOffcanvas"
      >
        <i class="fas fa-bars fa-lg text-primary"></i>
      </button>

      <!-- Menu Lateral -->
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="navbarOffcanvas"
        style="width: 300px"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
          ></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/quem-somos.html">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/servicos.html">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/pragas-urbanas.html"
                >Pragas Urbanas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/cobertura.html"
                >Área de cobertura</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../pages/contato.html">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Espaçador para header fixo -->
<div style="height: 76px"></div>
